    
.jumbotron {
    background-color: black;
    color: white;
}

#buttonAlpha {
    margin-top: 5%;
    width: 90%;
}

#buttonTime {
    margin-top: 5%;
    width: 90%;
}


.btnDelet{
    margin-left:25%;
    margin-right:25%;
    width: 50%;
}

.btnEdit{
    margin-left:25%;
    margin-right:25%;
    width: 50%;
}